<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>569546616301-scv220rm83i25osll43dli7gv25lagj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.569546616301-scv220rm83i25osll43dli7gv25lagj3</string>
	<key>API_KEY</key>
	<string>AIzaSyCOW08XeS7xmhoJuEQgAPdH-Ru7ITeo0gA</string>
	<key>GCM_SENDER_ID</key>
	<string>569546616301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proyectoFinal</string>
	<key>PROJECT_ID</key>
	<string>proyecto-movil-7e4ed</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto-movil-7e4ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:569546616301:ios:e0f17349d1477d789c4be4</string>
</dict>
</plist>